<mat-card class="login-card">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon color="primary" class="login-icon">account_circle</mat-icon>
    </div>
    <mat-card-title>Bienvenido</mat-card-title>
    <mat-card-subtitle>Ingresa a tu cuenta</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form class="login-form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Usuario</mat-label>
        <input matInput placeholder="Ingresa tu usuario" [(ngModel)]="usuario" name="usuario">
        <mat-icon matSuffix color="primary">person</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" [(ngModel)]="password" name="contraseña" />
        <button matIconButton matSuffix (click)=" clickEvent($event)" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()">
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

    </form>
  </mat-card-content>

  <mat-card-actions align="end" class="card-boton">
    <button mat-raised-button color="primary" class="boton_Ingresar" (click)="onLogin()">Ingresar</button>
  </mat-card-actions>
</mat-card>